@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
body {
  background: linear-gradient(90deg, #00c9ff 0%, #92fe9d 100%);
}
* {
  font-size: 18px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", Helvetica, sans-serif;
}
.container {
  display: flex;
  justify-content: center;
}
.main-header {
  padding-bottom: 0.3em;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.54);
  text-align: center;
  font-size: 35px;
  padding-top: 0.3em;
}

button {
  border-radius: 0.2em;
  opacity: 0.8;
  height: 1.7em;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.54);
  background-color: whitesmoke;
}

button:hover {
  opacity: 1;
}

footer {
  margin-top: 1em;
  text-align: center;
  font-size: 0.8em;
}

.header {
  text-align: center;
  font-size: 2em;
  font-weight: 500;
}

.shadow-and-border {
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.54);
  border: 2px solid black;
  border-radius: 0.2em;
}

.button-container {
  display: flex;
  justify-content: flex-end;
}

.delete-button {
  background-color: rgba(0, 0, 0, 0);
  align-self: flex-end;
}

.school-list {
  padding: 1em;
  width: 22em;
  align-self: center;
}

.listed-reviews-header {
  text-align: center;
  margin-bottom: 1em;
}

.listed-reviews-rating-header {
  text-align: center;
  padding: 1em 0;
}

.map {
  margin: 0 0 1em 2.3em;
  width: 15.2em;
  height: 15.2em;
}

.rating-header-container {
  margin-bottom: 1em;
}

@media screen and (max-width: 435px) {
  .school-list {
    width: 17.8em;
  }
  .map {
    margin: 1em 0;
    width: 15.2em;
    height: 15.2em;
  }
}

select {
  width: 100%;
  max-width: 90%;
}
