.school-list-header {
  text-align: center;
  font-size: 2em;
  font-weight: 500;
}

/* .icon {
  
} */

.dashboard-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20em;
}
