.dashboard-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20em;
}

.school-list {
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.54);
}
