.form-title {
  font-size: 1.3em;
  margin: 1em 0;
}

.school-form-container input {
  margin: 0.5em;
}

.school-form-container button {
  margin-bottom: 0.5em;
}

.pick-school-container {
  margin-bottom: 0.5em;
}

.search-bar {
  width: 12.8em;
}

@media screen and (max-width: 500px) {
  .school-form-container input {
    margin: 0;
  }
}