.nav-bar-routes {
  display: flex;
  justify-content: space-between;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.54);
  margin-bottom: 1em;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
  background-color: transparent;
}
.nav-bar-routes a:hover {
  font-weight: bold;
}

.nav-bar {
  padding: 0.5em 0 0.3em 2em;
  flex-wrap: wrap;
}

.auth-nav-bar {
  padding: 0.3em 2em 0.3em 0;
}

.main-nav-item {
  margin-right: 1em;
}

@media screen and (max-width: 435px) {
  .nav-bar-routes {
    justify-content: center;
    flex-wrap: wrap;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.54);
  }
}
